@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700');

.container {
	position: relative;
	width: 1150px;
	height: 600px;
	margin: auto;

	background: #FFFFFF;
}

.button {
	position: absolute;
	width: 250px;
	height: 80px;
	background: #DE8500;
}

a.button-invert {
	background: #FFFFFF;
	border: 1px solid #C4C4C4;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a.button-invert .button-text {
	color: #DE8500;
}

a:hover {
	cursor: pointer;
}

.button-text {
	position: relative;
	top: 32%;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 24px;
	text-align: center;
	vertical-align: middle;

	color: #FFFFFF;
}

.preview {
	position: absolute;
	width: 581px;
	height: 375px;
	left: 464px;
	top: 82px;

	background-size: contain;
	background-repeat: no-repeat;
}

#title .title {
	position: absolute;
	width: 761px;
	height: 98px;
	left: 194px;
	top: 184px;

	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 80px;
	line-height: 98px;/* identical to box height */
	text-align: center;

	color: #000000;
}

#title .subtitle {
	position: absolute;
	width: 844px;
	height: 53px;
	left: 153px;
	top: 292px;

	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;
	text-align: center;

	color: #C4C4C4;
}

#title .button {
	left: 450px;
	top: 384px;
}

#intro1 .text1 {
	position: absolute;
	width: 945px;
	height: 206px;
	left: 102px;
	top: 145px;

	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;
	text-align: center;

	color: #000000;
}

#intro1 .button {
	left: 450px;
	top: 376px;
}

#intro2 .text1 {
	position: absolute;
	width: 945px;
	height: 169px;
	left: 102px;
	top: 98px;

	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;
	text-align: center;

	color: #000000;
}

#intro2 .text2 {
	position: absolute;
	width: 494px;
	height: 182px;
	left: 377px;
	top: 280px;

	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;

	color: #000000;
}

#intro2 .button {
	left: 450px;
	top: 422px;
}

#pick-color .text1 {
	position: absolute;
	width: 631px;
	height: 41px;
	left: 59px;
	top: 24px;

	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;

	color: #000000;
}

#pick-color .option1 {
	position: absolute;
	width: 81.19px;
	height: 81.19px;
	left: 125px;
	top: 87px;

	background: #4BC5E0;
}

#pick-color .option2 {
	position: absolute;
	width: 81.19px;
	height: 81.19px;
	left: 125px;
	top: 211.49px;

	background: #F394C2;
}

#pick-color .option3 {
	position: absolute;
	width: 81.19px;
	height: 81.19px;
	left: 125px;
	top: 348.81px;

	background: #F1CD0D;
}

#pick-color .button {
	left: 795px;
	top: 485px;
}

#pick-celeb .text1 {
	position: absolute;
	width: 939px;
	height: 41px;
	left: 79px;
	top: 24px;

	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;

	color: #000000;
}

#pick-celeb .option1 {
	position: absolute;
	width: 81.19px;
	height: 81.19px;
	left: 125px;
	top: 82px;

	background: url(../images/cs247-p1-taylor.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 1px solid #000000;
	box-sizing: border-box;
}

#pick-celeb .option2 {
	position: absolute;
	width: 81.19px;
	height: 81.19px;
	left: 125px;
	top: 206.49px;

	background-image: url(../images/cs247-p1-terry.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 1px solid #000000;
	box-sizing: border-box;
}

#pick-celeb .option3 {
	position: absolute;
	width: 81.19px;
	height: 81.19px;
	left: 125px;
	top: 343.81px;

	background-image: url(../images/cs247-p1-khaled.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 1px solid #000000;
	box-sizing: border-box;
}

#pick-celeb .button {
	left: 795px;
	top: 485px;
}

#pick-slogan .text1 {
	position: absolute;
	width: 939px;
	height: 41px;
	left: 79px;
	top: 24px;

	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;

	color: #000000;
}

#pick-slogan .option1 {
	position: absolute;
	width: 244px;
	height: 81.19px;
	left: 116px;
	top: 98px;

	background-image: url(../images/cs247-p1-unleash.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 1px solid #000000;
	box-sizing: border-box;
}

#pick-slogan .option2 {
	position: absolute;
	width: 244px;
	height: 81.19px;
	left: 116px;
	top: 222.49px;

	background-image: url(../images/cs247-p1-hearwhatyouwanttohear.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 1px solid #000000;
	box-sizing: border-box;
}

#pick-slogan .option3 {
	position: absolute;
	width: 244px;
	height: 81.19px;
	left: 116px;
	top: 359.81px;

	background-image: url(../images/cs247-p1-perfectduet.png);
	background-size: contain;
	background-repeat: no-repeat;
	border: 1px solid #000000;
	box-sizing: border-box;
}

#pick-slogan .button {
	left: 795px;
	top: 485px;
}

#released .text1 {
	position: absolute;
	width: 945px;
	height: 130px;
	left: 102px;
	top: 179px;

	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;
	text-align: center;

	color: #000000;
}

#released .button {
	left: 450px;
	top: 341px;
}

#result .text1 {
	position: absolute;
	width: 945px;
	height: 130px;
	left: 102px;
	top: 168px;

	font-family: Playfair Display;
	font-style: normal;
	font-weight: normal;
	font-size: 30px;
	line-height: 40px;
	text-align: center;

	color: #000000;
}

#result .image1 {
	position: absolute;
	width: 330px;
	height: 173px;
	left: 820px;
	top: 0px;

	background-image: url(../images/cs247-p1-money.png);
	background-size: contain;
	background-repeat: no-repeat;
}

#result .button1 {
	left: 313px;
	top: 352px;
}

#result .button2 {
	left: 593px;
	top: 352px;
}
